<template>
    <div>
        <div class="_home">
            <div class="_home_top">
                <!-- <h1 class="_home_top_title"></h1> -->

                <img class="_home_top_img" src="/static/img/biglogo.png" alt="" title="">
            </div>

            <div class="_home_cat">
                <ul class="_home_cat_list">
                    <li>
                        <router-link to="/map">
                            <img src="/static/img/loctionLogo.svg" alt="" title="">
                            <span>Map</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/information">
                            <img src="/static/img/info.svg" alt="" title="">
                            <span>Info</span>
                        </router-link>
                    </li>
                    <li>
                        <a href="">
                            <img src="/static/img/ar.svg" alt="" title="">
                            <span>AR</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>