<template>
    <div>
        <div class="_selectedLoc">
            <div class="_selectedLoc_header">
                <img src="/static/img/biglogo.png" alt="" title="">

                <div class="_selectedLoc_back">
                    <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.613602 7.10364C0.613602 7.34039 0.70611 7.57712 0.890738 7.75762L6.70349 13.4377C7.07325 13.7991 7.67276 13.7991 8.04237 13.4377C8.41198 13.0766 8.41198 12.4908 8.04237 12.1295L2.89893 7.10364L8.04219 2.07776C8.4118 1.71643 8.4118 1.13078 8.04219 0.769622C7.67258 0.408116 7.07307 0.408116 6.70331 0.769622L0.890558 6.44965C0.705901 6.63025 0.613602 6.86697 0.613602 7.10364Z" fill="white"/>
                    </svg>
                </div>
            </div>

            <div class="_selectedLoc_main">
                <div class="container px-3">
                    <p class="_selectedLoc_main_title">Nearby</p>
                    <div class="row gx-3">
                        <!-- Item -->
                        <div class="col-6 col-md-6">
                            <div class="_1card">
                                <div class="_1card_pic">
                                    <img class="_1card_img" src="/static/img/picOne.png" alt="" title="">
                                </div>

                                <div class="_1card_details">
                                    <p class="_1card_address"><svg width="31" height="45" viewBox="0 0 31 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5506 0.832825C7.02752 0.832825 0.101212 7.7593 0.101212 16.2822C0.101212 19.1661 0.899602 21.9728 2.41871 24.3932L14.5033 44.1697C14.7095 44.5044 15.0185 44.7105 15.379 44.762C15.8681 44.8391 16.4091 44.6332 16.6922 44.144L28.8114 24.1872C30.2532 21.8183 31 19.0632 31 16.2822C31 7.7593 24.0737 0.832825 15.5506 0.832825ZM15.5506 24.0069C11.2249 24.0069 7.82591 20.5051 7.82591 16.2822C7.82591 12.0335 11.3019 8.55752 15.5506 8.55752C19.7993 8.55752 23.2753 12.0335 23.2753 16.2822C23.2753 20.4793 19.9278 24.0069 15.5506 24.0069Z" fill="#E52229"></path></svg>
                                        123, Street Address, City, ZIP, Country.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                        <!-- Item -->
                        <div class="col-6 col-md-6">
                            <div class="_1card">
                                <div class="_1card_pic">
                                    <img class="_1card_img" src="/static/img/picTwo.png" alt="" title="">
                                </div>

                                <div class="_1card_details">
                                    <p class="_1card_address"><svg width="31" height="45" viewBox="0 0 31 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5506 0.832825C7.02752 0.832825 0.101212 7.7593 0.101212 16.2822C0.101212 19.1661 0.899602 21.9728 2.41871 24.3932L14.5033 44.1697C14.7095 44.5044 15.0185 44.7105 15.379 44.762C15.8681 44.8391 16.4091 44.6332 16.6922 44.144L28.8114 24.1872C30.2532 21.8183 31 19.0632 31 16.2822C31 7.7593 24.0737 0.832825 15.5506 0.832825ZM15.5506 24.0069C11.2249 24.0069 7.82591 20.5051 7.82591 16.2822C7.82591 12.0335 11.3019 8.55752 15.5506 8.55752C19.7993 8.55752 23.2753 12.0335 23.2753 16.2822C23.2753 20.4793 19.9278 24.0069 15.5506 24.0069Z" fill="#E52229"></path></svg>
                                        123, Street Address, City, ZIP, Country.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                        <!-- Item -->
                        <div class="col-6 col-md-6">
                            <div class="_1card">
                                <div class="_1card_pic">
                                    <img class="_1card_img" src="/static/img/picThree.png" alt="" title="">
                                </div>

                                <div class="_1card_details">
                                    <p class="_1card_address"><svg width="31" height="45" viewBox="0 0 31 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5506 0.832825C7.02752 0.832825 0.101212 7.7593 0.101212 16.2822C0.101212 19.1661 0.899602 21.9728 2.41871 24.3932L14.5033 44.1697C14.7095 44.5044 15.0185 44.7105 15.379 44.762C15.8681 44.8391 16.4091 44.6332 16.6922 44.144L28.8114 24.1872C30.2532 21.8183 31 19.0632 31 16.2822C31 7.7593 24.0737 0.832825 15.5506 0.832825ZM15.5506 24.0069C11.2249 24.0069 7.82591 20.5051 7.82591 16.2822C7.82591 12.0335 11.3019 8.55752 15.5506 8.55752C19.7993 8.55752 23.2753 12.0335 23.2753 16.2822C23.2753 20.4793 19.9278 24.0069 15.5506 24.0069Z" fill="#E52229"></path></svg>
                                        123, Street Address, City, ZIP, Country.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                        <!-- Item -->
                        <div class="col-6 col-md-6">
                            <div class="_1card">
                                <div class="_1card_pic">
                                    <img class="_1card_img" src="/static/img/picFour.png" alt="" title="">
                                </div>

                                <div class="_1card_details">
                                    <p class="_1card_address"><svg width="31" height="45" viewBox="0 0 31 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5506 0.832825C7.02752 0.832825 0.101212 7.7593 0.101212 16.2822C0.101212 19.1661 0.899602 21.9728 2.41871 24.3932L14.5033 44.1697C14.7095 44.5044 15.0185 44.7105 15.379 44.762C15.8681 44.8391 16.4091 44.6332 16.6922 44.144L28.8114 24.1872C30.2532 21.8183 31 19.0632 31 16.2822C31 7.7593 24.0737 0.832825 15.5506 0.832825ZM15.5506 24.0069C11.2249 24.0069 7.82591 20.5051 7.82591 16.2822C7.82591 12.0335 11.3019 8.55752 15.5506 8.55752C19.7993 8.55752 23.2753 12.0335 23.2753 16.2822C23.2753 20.4793 19.9278 24.0069 15.5506 24.0069Z" fill="#E52229"></path></svg>
                                        123, Street Address, City, ZIP, Country.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                        <!-- Item -->
                        <div class="col-12 col-md-12">
                            <div class="_1card _1card_single">
                                <div class="_1card_pic">
                                    <img class="_1card_img" src="/static/img/picFive.png" alt="" title="">
                                </div>

                                <div class="_1card_details">
                                    <p class="_1card_address"><svg width="31" height="45" viewBox="0 0 31 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5506 0.832825C7.02752 0.832825 0.101212 7.7593 0.101212 16.2822C0.101212 19.1661 0.899602 21.9728 2.41871 24.3932L14.5033 44.1697C14.7095 44.5044 15.0185 44.7105 15.379 44.762C15.8681 44.8391 16.4091 44.6332 16.6922 44.144L28.8114 24.1872C30.2532 21.8183 31 19.0632 31 16.2822C31 7.7593 24.0737 0.832825 15.5506 0.832825ZM15.5506 24.0069C11.2249 24.0069 7.82591 20.5051 7.82591 16.2822C7.82591 12.0335 11.3019 8.55752 15.5506 8.55752C19.7993 8.55752 23.2753 12.0335 23.2753 16.2822C23.2753 20.4793 19.9278 24.0069 15.5506 24.0069Z" fill="#E52229"></path></svg>
                                        123, Street Address, City, ZIP, Country.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Item -->
                    </div>

                    <div class="_selectedLoc_info">
                        <h1 class="_selectedLoc_info_title">Informations</h1>
                        <p class="_selectedLoc_info_text">
                            WebXR is a group of standards which are used together to support rendering 3D scenes to hardware designed for presenting virtual worlds (virtual reality, or VR), or for adding graphical imagery to the real world, (augmented reality, or AR)
                        </p>

                        <button class="_1btn _btn_longe" type="button">
                            <img src="/static/img/loader.svg" alt="" title="">
                            Load More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>