/*---------------------------
    1.Home
    2.Map
    3.Information
    4.Selected Loction
    5.Contact


----------------------------*/

@font-face {
    font-family: 'regular';
    src: url("../fonts/futur.ttf");
}
@font-face {
    font-family: 'bold';
    src: url("../fonts/FuturaBold.ttf");
}
@font-face {
    font-family: 'small';
    src: url("../fonts/FuturaLight.ttf");
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    padding: 0px;
    margin: 0 auto;
   /* font-weight: 400;*/
}
body {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'regular'; */
    background-color: #0c1022 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #383838;
}
a:hover{
    text-decoration: none ;
}
pre, p{
    margin:0px;
    color: #383838;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 17px;
}
h1,h2,h3,h4, h5,h6{
    margin: 0px;
}
ul{
    padding: 0;
    margin: 0px;
}
textarea {
    resize: none !important;
}
button, select{
    cursor: pointer;
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
}
ul{
    padding:0px;
    margin:0px;
    list-style: none;
}
img{
    width:100%;
    display:block;
}
a:hover{
    text-decoration: none;
}
a{
    transition: .3s all ease;
}

/*========= 1.Home ========*/
._home{}
._home_top{
    background: linear-gradient(180deg, #E52229 0%, #D50000 100%);
    padding: 88px 20px 88px;
}
._home_top_title{}
._home_top_img{
    max-width: 279.92px;
    margin: 0 auto;
}
._home_cat{
    background: #0c1022;
    padding: 90px 15px 80px;
}
._home_cat_list{
    margin: 0;
    padding: 0;
}
._home_cat_list li{
    border-radius: 17px;
    border: 1px solid #FFFFFF;
    max-width: 238.14px;
    display: block;
    margin: 0 auto 10px;
    padding: 7px;
}
._home_cat_list li a{
    background: #FFFFFF;
    box-shadow: 0px 12px 35px rgba(255, 115, 0, 0.15);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    min-height: 100px;
    padding: 0 10px 0 30px;
}
._home_cat_list li span{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    color: #000000;
    flex: 1 1;
    display: block;
    text-decoration: none;
    padding: 0 0 0 62px;
}
._home_cat_list li img{
    flex: 0 0 auto;
    height: 42px;
    width: auto;
}
._home_cat_list li a:hover{}
/*========= 1.Home end ========*/

/*========= 2.Map ========*/
._map{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
._map_search_main {
    background: #0b1022;
    padding: 27px 30px;
    flex: 0 0 auto;
}
._map_search{
    left: 30px;
    top: 27.26px;
    background: #484850;
    box-shadow: 0px 12px 35px #000000;
    border-radius: 32px;
    display: flex;
    align-items: center;
    padding: 0 19px 0;
}
._map_search_icon{
    flex: 0 0 auto;
}
._map_search_icon img{
    height: 25px;
    width: auto;
}
._map_search_input{
    flex: 1 1;
    overflow: hidden;
}
._map_search_input input::placeholder {
    color: black;
    opacity: 1;
}  
._map_search_input input:-ms-input-placeholder {
    color: black;
}  
._map_search_input input::-ms-input-placeholder {
    color: black;
}
._map_search_input input{
    height: 60px;
    background: transparent;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    width: 100%;
    padding: 0 15px 0;
    color: white;
}
._map_main{
    flex: 1 1;
    overflow: hidden;
}
._map_main iframe {
    height: 100%;
    width: 100%;
}
._map_bottom{
    flex: 0 0 auto;
    padding: 20px 20px;
    text-align: center;
}
._map_bottom_address{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    color: #FFFFFF;
    /* font-family: Raleway; */
    text-align: center;
    margin-bottom: 30px;
}
._map_bottom_address svg{
    height: 17px;
    width: auto;
    position: relative;
    top: -2px;
    margin-right: 3px;
}
._map_bottom_address svg path{}
._map_btn {
    background: #FFFFFF;
    box-shadow: 0px 12px 35px #000000;
    border-radius: 32px;
    border: none;
    height: 60px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #0A0F20;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-style: italic;
}
._map_btn svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
._map_btn svg path{}
._map_btn:hover{}
._map_btn:focus{
    outline: none;
}
/*========= 2.Map end ========*/

/*========= 3.Information ========*/
._info_all{
    background: white;
    min-height: 100vh;
}
._info_banner{
    background: #0b1022;
    text-align: center;
    padding: 30px 20px;
}
._info_banner_title{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
._info_main{
    padding: 40px 25px 45px;
}
._info_item{
    padding-bottom: 17px;
}
._info_item_title{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 9px;
}
._info_item_text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 15px;
}
/*========= 3.Information end ========*/

/*========= 4.Selected Loction ========*/
._selectedLoc{
    background: white;
    min-height: 100vh;
}
._selectedLoc_header{
    background: #0b1022;
    padding: 26px 45px 25px;
    position: relative;
}
._selectedLoc_header img{
    max-width: 192px;
    width: 100%;
    margin: 0 auto;
}
._selectedLoc_main{
    padding: 20px 5px 30px;
}
._selectedLoc_back{
    position: absolute;
    background: linear-gradient(270deg, #D40000 0%, #E52229 100%);
    border-radius: 32px;
    height: 45.14px;
    width: 45.14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 30px;
    left: 21px;
}
._selectedLoc_back svg{}
._selectedLoc_back svg path{}
._selectedLoc_main_title{
    /* font-family: Raleway; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 15px;
}
._1card {
    margin-bottom: 17px;
}
._1card_single{
    margin-top: 20px;
}
._1card_pic{}
._1card_img{}
._1card_details{
    padding: 15px 0 0;
}
._1card_address{
    /* font-family: Raleway; */
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
/* or 150% */
    display: flex;
    color: #0B1022;
    align-items: flex-start;
}
._1card_address svg{
    width: 16px;
    height: auto;
    top: 4px;
    position: relative;
    margin-right: 6px;
}
._1card_address svg path{}
._selectedLoc_info{
    padding: 17px 0 00;
    text-align: center;
}
._selectedLoc_info_title{
    /* font-family: Raleway; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 11px;
}
._selectedLoc_info_text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #58627B;
    margin-bottom: 34px;
}
._1btn{
    background: #0B1022;
    border-radius: 32px;
    height: 60px;
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 36px;
    display: inline-flex;
    text-align: center;
    color: #FFFFFF;
    font-style: italic;
}
._1btn img{
    flex: 0 0 auto;
    width: auto;
    height: auto;
    margin-right: 10px;
    /* animation: loadingD 1s 0.1s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite; */
    animation:  loadingD 1.3s linear infinite;
}
@keyframes loadingD {
    0% {
      transform: rotate(0deg);
    }
    /* 50% {
      transform: rotate(180deg);
    } */
    100% {
      transform: rotate(360deg);
    }
}
._1btn:hover{}
._1btn:focus{
    outline: none;
}
._btn_longe {
    width: 100%;
    max-width: 356px;
}
/*========= 4.Selected Loction end ========*/

/*========= 5.Contact end ========*/
._contact{
    background: #0b1022;
    min-height: 100vh;
    padding: 0 0 100px;
}
._contact_logo{
    padding: 49px 20px 46px;
}
._contact_logo img{
    max-width: 204px;
    margin: 0 auto;
}
._contact_form{
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px 0;
}
._contact_input_group{
    margin-bottom: 15px;
}
._1input::placeholder {
    color: black;
}  
._1input:-ms-input-placeholder{
    color: black;
}  
._1input::-ms-input-placeholder {
    color: black;
}
._1textarea::placeholder {
    color: black;
}  
._1textarea:-ms-input-placeholder {
    color: black;
}  
._1textarea::-ms-input-placeholder {
    color: black;
}
._1input{
    background: #484850;
    border-radius: 32px;
    width: 100%;
    border: none;
    /* font-family: Raleway; */
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    height: 60px;
    color: #ffffff;
    padding: 0 30px 0;
    display: block;
}
._1input:hover{}
._1input:focus{
    outline: none;
}
._1textarea{
    background: #484850;
    border-radius: 32px;
    width: 100%;
    border: none;
    /* font-family: Raleway; */
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 12px 30px 12px;
    display: block;
}
._contact_text{
    /* font-family: Raleway; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 60px 0 34px;
}
._contact_button{}
._contact_button ._2btn{
    width: 100%;
}
._2btn{
    background: #FFFFFF;
    border-radius: 32px;
    height: 60px;
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 36px;
    display: inline-flex;
    text-align: center;
    color: #0B1022;
    font-style: italic;
    padding: 0 30px;
    font-weight: bold;
}
._2btn svg{
    margin-right: 8px;
}
@keyframes loadingD {
    0% {
      transform: rotate(0deg);
    }
    /* 50% {
      transform: rotate(180deg);
    } */
    100% {
      transform: rotate(360deg);
    }
}
._2btn:hover{}
._2btn:focus{
    outline: none;
}
.{}
.{}
.{}
.{}
/*========= 5.Contact end ========*/