<template>
    <div>
        <div class="_contact">
            <div class="_contact_logo">
                <img src="/static/img/biglogo.png" alt="" title="">
            </div>

            <div class="_contact_form">
                <div class="_contact_input_group">
                    <input class="_1input" placeholder="User Name">
                </div>
                <div class="_contact_input_group">
                    <input class="_1input" placeholder="Email">
                </div>
                <div class="_contact_input_group">
                    <textarea class="_1textarea" rows="5" placeholder="Type your message here."></textarea>
                </div>

                <p class="_contact_text">
                    together to support rendering 3D scenes to hardware designed for presenting virtual worlds 
                </p>

                <div class="_contact_button">
                    <button class="_2btn _btn_large" type="button">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.78336 0.085215C2.4221 0.536225 1.25513 1.56014 0.626755 2.85494C0.0618843 4.01887 -0.0032719 4.35854 0.000120011 6.12484C0.00264422 7.42043 0.0311204 7.79021 0.1821 8.48382C1.97571 16.7255 11.2241 25.9438 19.5724 27.8112C20.6239 28.0464 23.136 28.0663 23.9376 27.8457C25.677 27.3671 26.9562 26.3122 27.7106 24.7344C27.9871 24.1561 28 24.0919 28 23.3017C28 22.5725 27.9754 22.4219 27.7921 22.0315C27.6778 21.788 27.4485 21.4386 27.2824 21.255C27.1164 21.0715 25.9202 20.1809 24.6243 19.2761C22.0915 17.5077 21.715 17.3134 20.8218 17.3134C20.0137 17.3134 19.0084 17.7536 18.5098 18.3257C18.4096 18.4406 18.0963 18.8627 17.8137 19.2636C17.5311 19.6644 17.2841 19.9924 17.265 19.9924C17.2069 19.9924 16.1254 19.2015 15.4973 18.6996C13.3584 16.9906 10.7581 14.3762 9.10305 12.2707C8.73854 11.8069 8.00352 10.7854 8.00352 10.7425C8.00352 10.7241 8.3969 10.433 8.87777 10.0958C9.88043 9.39254 10.2822 8.9097 10.5292 8.11098C10.7281 7.46755 10.7273 6.90702 10.5266 6.25793C10.3974 5.84009 10.0601 5.30453 8.72064 3.39034C7.81476 2.09585 6.92324 0.900957 6.73945 0.735177C6.19043 0.239649 5.63637 0.029666 4.80882 0.00327038C4.36992 -0.010676 3.97843 0.0206049 3.78336 0.085215Z" fill="#0B1022"/>
                        </svg>
                        Contact us
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>