<template>
    <div>
        <div class="_info_all">
            <div class="_info_banner">
                <h1 class="_info_banner_title">Information</h1>
            </div>

            <div class="_info_main">
                <div class="_info_item">
                    <h2 class="_info_item_title">What is WebXR?</h2>

                    <p class="_info_item_text">WebXR is a group of standards which are used together to support rendering 3D scenes to hardware designed for presenting virtual worlds (virtual reality, or VR), or for adding graphical imagery to the real world, (augmented reality, or AR)</p>
                </div>

                <div class="_info_item">
                    <h2 class="_info_item_title">How to play this game?</h2>

                    <p class="_info_item_text">WebXR is a group of standards which are used together to support rendering 3D scenes to hardware designed for presenting virtual worlds (virtual reality, or VR), or for adding graphical imagery to the real world, (augmented reality, or AR)</p>
                </div>

                <div class="_info_item">
                    <h2 class="_info_item_title">What is MTlight?</h2>

                    <p class="_info_item_text">WebXR is a group of standards which are used together to support rendering 3D scenes to hardware designed for presenting virtual worlds (virtual reality, or VR), or for adding graphical imagery to the real world, (augmented reality, or AR)</p>
                </div>
            </div>
        </div>
    </div>
</template>