<template>
    <div>
        <div class="_map">
            <div class="_map_search_main">
                <div class="_map_search">
                    <div class="_map_search_icon">
                        <img src="/static/img/search.svg" alt="" title="">
                    </div>

                    <div class="_map_search_input">
                        <input placeholder="Search here">
                    </div>
                    <div class="_map_search_icon">
                        <img src="/static/img/speakar.svg" alt="" title="">
                    </div>
                </div>
            </div>

            <div class="_map_main">
                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>

            <div class="_map_bottom">
                <p class="_map_bottom_address">
                    <svg width="31" height="45" viewBox="0 0 31 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5506 0.832825C7.02752 0.832825 0.101212 7.7593 0.101212 16.2822C0.101212 19.1661 0.899602 21.9728 2.41871 24.3932L14.5033 44.1697C14.7095 44.5044 15.0185 44.7105 15.379 44.762C15.8681 44.8391 16.4091 44.6332 16.6922 44.144L28.8114 24.1872C30.2532 21.8183 31 19.0632 31 16.2822C31 7.7593 24.0737 0.832825 15.5506 0.832825ZM15.5506 24.0069C11.2249 24.0069 7.82591 20.5051 7.82591 16.2822C7.82591 12.0335 11.3019 8.55752 15.5506 8.55752C19.7993 8.55752 23.2753 12.0335 23.2753 16.2822C23.2753 20.4793 19.9278 24.0069 15.5506 24.0069Z" fill="#E52229"/>
                    </svg>
                    123, Street Address, City, ZIP, Country.
                </p>

                <router-link to="/information" class="_map_btn" type="button">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.4993 0C7.38781 0 0 7.38781 0 16.4993C0 25.6108 7.38781 33 16.4993 33C25.6108 33 33 25.6108 33 16.4993C33 7.38781 25.6108 0 16.4993 0ZM19.9341 25.5717C19.0848 25.9069 18.4088 26.1611 17.9017 26.3371C17.3961 26.5131 16.808 26.6011 16.1389 26.6011C15.1109 26.6011 14.3105 26.3497 13.7406 25.8483C13.1707 25.3468 12.8871 24.7112 12.8871 23.9388C12.8871 23.6385 12.9081 23.3312 12.95 23.0183C12.9933 22.7054 13.0617 22.3534 13.1553 21.9581L14.2183 18.2034C14.3119 17.843 14.3929 17.5008 14.4571 17.1823C14.5214 16.8611 14.5521 16.5663 14.5521 16.2982C14.5521 15.8204 14.453 15.4852 14.256 15.2966C14.0563 15.1081 13.6805 15.0159 13.1204 15.0159C12.8466 15.0159 12.5644 15.0564 12.2753 15.1416C11.989 15.2296 11.7403 15.3092 11.5364 15.3874L11.8171 14.2309C12.5128 13.9473 13.179 13.7043 13.8146 13.5031C14.4502 13.2992 15.0508 13.1986 15.6165 13.1986C16.6376 13.1986 17.4254 13.4472 17.9799 13.9389C18.5317 14.432 18.8097 15.0731 18.8097 15.861C18.8097 16.0244 18.7901 16.3121 18.7524 16.7228C18.7147 17.1349 18.6434 17.5106 18.5401 17.8556L17.4827 21.5991C17.3961 21.8994 17.3192 22.243 17.2494 22.6272C17.181 23.0113 17.1474 23.3046 17.1474 23.5016C17.1474 23.9989 17.2578 24.3383 17.4813 24.5185C17.702 24.6987 18.0889 24.7895 18.6364 24.7895C18.8949 24.7895 19.184 24.7434 19.5109 24.654C19.8349 24.5646 20.0696 24.485 20.2177 24.4165L19.9341 25.5717ZM19.7469 10.377C19.2538 10.8352 18.6602 11.0643 17.966 11.0643C17.2731 11.0643 16.6753 10.8352 16.178 10.377C15.6836 9.91886 15.4335 9.36152 15.4335 8.7106C15.4335 8.06108 15.685 7.50235 16.178 7.04C16.6753 6.57625 17.2731 6.34578 17.966 6.34578C18.6602 6.34578 19.2552 6.57625 19.7469 7.04C20.24 7.50235 20.4872 8.06108 20.4872 8.7106C20.4872 9.36292 20.24 9.91886 19.7469 10.377Z" fill="#0A0F20"/>
                    </svg>
                    More info
                </router-link>
            </div>
        </div>
    </div>
</template>