/*Mobile*/
@media only screen and (max-width: 767px) {

}
/*Mobile End*/

/* Ipad */
@media only screen and (min-width: 768px) {
._map_btn {
    width: 356px;
}
._home_cat_list li {
    max-width: 338.14px;
}
}
/* Ipad */